.container {
    width: 350px;
    margin: auto;
    background-color: #36393f;
    border-radius: 5px;
    padding: 20px;
  }
  .title {
    color: #fff;
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 20px;
  }
  .question {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
  .number {
    color: #fff;
    font-size: 28px;
    font-weight: 600;
    margin-right: 10px;
    margin-bottom: 0px;
  }
  .operator {
    color: #b9bbbe;
    font-size: 28px;
    font-weight: 600;
    margin: 0 10px;
  }
  .answer {
    background-color: #202225;
    border: none;
    border-radius: 3px;
    color: #fff;
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    width: 60px;
    height: 40px;
    margin-right: 10px;
  }
  .submit {
    background-color: #7289da;
    border: none;
    border-radius: 3px;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    width: 100px;
    height: 50px;
    cursor: pointer;
  }
  .feedback {
    text-align: center;
    margin-bottom: 20px;
  }
  .correct {
    color: #43b581;
    font-size: 16px;
    font-weight: 600;
    margin: 0;
  }
  .incorrect {
    color: #f04747;
    font-size: 16px;
    font-weight: 600;
    margin: 0;
  }
  .content {
    display: flex;
    margin: 82px auto 32px;
    padding: 0 16px;
    max-width: 960px;
    flex-direction: column;
    align-items: center;
  }
  svg#clouds {
    position: fixed;
    bottom: -160px;
    left: -230px;
    z-index: -10;
    width: 1920px;
  }